{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "quoteProps": "consistent"
}